name: Check

on:
  pull_request:
    branches:
      - "*"

env:
  CROSS_CONTAINER_ENGINE: podman

jobs:
  check-native:
    name: Check on native hardware
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
        config:
          - node: ubuntu-latest
          - node: windows-latest
          - node: macos-latest
    runs-on: ${{ matrix.config.node }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true

      - uses: Swatinem/rust-cache@v2.7.3

      - name: Check Debug
        run: cargo check --all-features --workspace  --all-targets

  check-cross:
    name: Check for foreign hardware via cross
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
        config:
          # linux aarch64
          - node: ubuntu-latest
            arch: aarch64-unknown-linux-gnu
          - node: ubuntu-latest
            arch: aarch64-unknown-linux-musl

          # linux x86
          - node: ubuntu-latest
            arch: x86_64-unknown-linux-gnu
          - node: ubuntu-latest
            arch: x86_64-unknown-linux-musl

          # windows aarch64
          - node: windows-latest
            arch: aarch64-pc-windows-msvc
          - node: windows-latest
            arch: x86_64-pc-windows-msvc

          # apple aarch64
          - node: macos-latest
            arch: aarch64-apple-darwin

    runs-on: ${{ matrix.config.node }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
      - name: Install
        run: cargo install cross

      - name: Use Podman
        run: echo "CROSS_CONTAINER_ENGINE=podman" >> $GITHUB_ENV

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Add target
        run: rustup target add ${{ matrix.config.arch }}

      - name: Check Debug
        run: cross check --target ${{ matrix.config.arch }} --all-features --workspace  --all-targets

  container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v5.0.1
        with:
          submodules: recursive
      - name: Install qemu dependency
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Buildah Action
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            Containerfile
          platforms: linux/amd64,linux/arm64
          image: ci
